@page "/categories"

@inject IDialogService DialogService
@inject ITaskService TaskService

<MudGrid>
    <MudItem sm="12" md="6" lg="4">
        <MudButton OnClick="OpenNewCategoryDialog" StartIcon="@Icons.Material.Filled.Add" FullWidth="true" Class="rounded-lg py-2">Add category</MudButton>
        @foreach(var category in CategoryList)
        {
            <MudPaper Elevation="25" Class="pa-3 rounded-lg my-2 d-flex justify-space-between">
                <div class="px-1 me-2" style="@(GetColor(category))">
                </div>
                <div>
                    <MudText Typo="Typo.h6">@category.Name</MudText>
                </div>
                <div>
                    <MudIconButton OnClick="@(() => OpenUpdateCategoryDialog(category))" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Info" Size="Size.Medium" />
                </div>
            </MudPaper>
        }
    </MudItem>
</MudGrid>

@code {
    private IEnumerable<CategoryDto> CategoryList { get; set; } = new List<CategoryDto>();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task OpenNewCategoryDialog()
    {
        var dialog = await DialogService.ShowAsync<NewCategoryDialog>();
        var result = await dialog.Result;

        if (result.Data is not null)
        {
            await TaskService.CreateCategory(result.Data as NewCategoryDto);
            await LoadData();
        }
    }

    private async Task OpenUpdateCategoryDialog(CategoryDto selectedCategory)
    {
        var parameters = new DialogParameters<UpdateCategoryDialog> { { x => x.CategoryToUpdate, selectedCategory } };
        var dialog = await DialogService.ShowAsync<UpdateCategoryDialog>("", parameters);
        var result = await dialog.Result;

        if (result.Data is not null)
        {
            await TaskService.UpdateCategory(result.Data as UpdateCategoryDto);
            await LoadData();
        }
    }

    private async Task LoadData()
    {
        CategoryList = await TaskService.GetCategories();
        StateHasChanged();
    }

    private string GetColor(CategoryDto category)
    {
        return $"width: 24px; background-color: {category.Color}";
    }
}
